header {
  z-index: 100000;
  position: fixed;
  top: 0;
  width: 100vw;
  color: #fff;
  .wrapper {
    .logo-image {
      width: 116px;
      margin: 14px 52px 14px 0;
    }
    max-width: 100vw;
    box-sizing: border-box;
    padding: 0 60px 0 60px;
    transition: box-shadow 0.4s ease, background-color 0.4s ease;
    display: flex;
    justify-content: center;
    &.mobileWrapper {
      padding: 15px 15px;
      nav {
        flex-grow: 1;
      }
    }
    nav {
      max-width: 1250px;
      display: flex;
      justify-content: space-between;
      a {
        align-self: center;
        max-width: 130px;
        img {
          max-width: 100%;
        }
      }

      .nav-items {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        li {
          padding: 0 31px;
          display: flex;
          transition: padding 0.4s ease;
          .active {
            /* box-shadow: 0px 0px 50px #31f3ff !important; */
            text-shadow: 0px 0px 20px #d1fcff !important;
          }
        }
      }
    }
    &.navShadow {
      background-color: rgba(0, 0, 0, 0.9);
      box-shadow: 0 4px 30px -5px rgba(#000, 0.2);
      nav {
        .nav-items {
          li {
            padding: 18px 22px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  header {
    .wrapper {
      nav {
        a {
          max-width: 34%;
        }
        .nav-items {
          li {
            padding: 26px 15px;
          }
        }
      }
      &.navShadow {
        nav {
          .nav-items {
            li {
              padding: 18px 15px;
            }
          }
        }
      }
    }
  }
}
.mobile-title {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  overflow: hidden;
}

.menu-line {
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

.menu-line:nth-of-type(2) {
  width: 28px;
}

.mobile-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #000;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  padding: 2rem 2rem 2rem 2rem;
  z-index: 1000;

  .content-background {
    content: "";
    display: block;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    height: 300%;
    left: 0;
    bottom: -1110px;
    position: absolute;
  }
}

.content-wrapper {
  margin-top: 3rem;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: right;
  margin-bottom: 26px;
}
