.section {
  padding: 216px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  position: relative;

  z-index: 1;
  position: relative;
  background-color: #000;
  &.mobileSection {
    height: auto;
    padding: 30px 0;
    align-items: flex-start;
    h2 {
      margin-top: 0;
    }
  }
}
.sectionTitle {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 61px;

  color: #ffffff;
  margin-top: 80px;
  margin-bottom: 18px;
}
.sectionSubtitle {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  &.tabletSubtitle {
    margin-top: 20px;
  }
}

.swiperSlider {
  height: 452px;
  padding-bottom: 62px;
  &.mobileSlide {
    height: 300px;
  }
}

.slide {
  background: #d9d9d9;
}
.video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  object-fit: none;
}
