.section {
  padding: 123px 0;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  position: relative;
  background-color: #000;
  &.mobileSection {
    height: auto;
    padding: 30px 0;
    align-items: flex-start;
    h2 {
      margin-top: 0;
    }
    .firstMilestone {
      margin-top: 25px;
    }
    .milestoneCard {
      box-shadow: 0px 0px 10px #63a1ff;
    }
  }
}
.line {
  content: "";
  position: absolute;
  height: 100%;
  background: #ffffff;
  z-index: 1;
  width: 5px;
  top: 0;
  left: 37px;
  &.mobileLine {
    left: 15px;
  }
  &.unfinishedLine {
    background: #434343;
  }
}

.milestoneCard {
  padding: 46px 77px 36px 77px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 30px #63a1ff;
  width: 382px;
  border-radius: 20px;
  margin-top: 176px;
  &.tabletCard {
    padding: 36px 36px;
    width: 280px;
    margin-top: 0px;
    margin-bottom: 25px;

    h4 {
      text-align: center;
      font-family: "Syne";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &.mobileCard {
    padding: 20px 23px 20px 23px;
    width: 224px;
    margin-top: 0px;
    margin-bottom: 25px;

    h4 {
      text-align: center;
      font-family: "Syne";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
  }
  &.unfinishedCard {
    background: #434343;
    box-shadow: 0px 0px 30px #63a1ff;
    h4 {
      color: #959595;
    }
    ul {
      li {
        color: #959595;
        div {
          background: #959595;
        }
      }
    }
  }

  h4 {
    font-family: Syne;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 27px;

    color: #434343;
  }
  ul {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    li {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      div {
        width: 8px;
        height: 8px;
        margin-right: 6px;
        border-radius: 50%;
        background: #000;
        &.completedMilestone {
          background: #63a1ff;
        }
      }
      font-family: "Bitter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #0f0f0f;
    }
  }
}
.circleWrapper {
  position: relative;
}
.milestoneItem {
  &.firstMilestone {
    margin-top: 81px;
  }
  display: flex;
  justify-content: space-between;
  position: relative;
  &.mobileMilestone {
    justify-content: center;
    position: relative;
    .circleWrapper {
      position: absolute;
      height: 100%;
      right: calc(71% + 55px);
    }
  }
  .checkCircle {
    position: relative;
    margin-top: 265px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 100;
    border-radius: 50%;
    border: 6px solid #ffffff;
    &.tabletCircle {
      margin-top: 100px;
    }

    &.mobileCircle {
      margin-top: 100px;
      height: 34px;
      width: 34px;
      border: 4px solid #ffffff;
      svg {
        width: 14px;
        height: 9px;
      }
    }

    &.unfinishedCircle {
      border-color: #434343;
    }
  }
  h4.milestoneTitle {
    font-family: "Syne";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    width: 150px;
    line-height: 43px;
    display: flex;
    color: #434343;
    margin-top: 280px;
    &.tabletMilestoneTitle {
      margin-top: 115px;
    }

    &.completed {
      color: #63a1ff;
      text-shadow: 0px 0px 15px 0px #33a2cc;
    }
  }
}
