@import "./reset";
@import "./fonts.scss";
@import "../components/header/header.scss";
$accent-color-blue: #63a1ff;
* {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }
}
body {
  background-color: #000;
}
h1 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 8%;
}

h2 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 51px;
}

h3 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

p {
  font-size: 16px;
}
body {
  font-family: "Bitter", sans-serif;
  font-weight: 400;
  color: #fff;
}
.swiper-pagination-bullet {
  transition: all 0.8s ease;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  &:first-child {
    position: relative;
    .paginationNumber {
      position: absolute;
      left: -15px;
      top: -12px;
    }
  }
  &:last-child {
    position: relative;
    .paginationNumber {
      position: absolute;
      right: -15px;
      top: -12px;
    }
  }
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.swiper {
  overflow: visible;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
  width: 30% !important;
  height: 3px !important;
  background: #3b3a3b !important;
  margin: 0 !important;
  opacity: 1 !important;
  color: #d9d9d9 !important;
}

.swiper-pagination-bullet-active {
  border-radius: 0 !important;
  width: 30% !important;
  height: 3px !important;
  background: #d9d9d9 !important;
}

.swiper-pagination {
  display: flex;
}

.swiper-container {
  height: 100%;
  width: 100%;
}

.scroll {
  width: 4px;
  transition: opacity 0.4s ease-in, height 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  background: linear-gradient(125.06deg, #0061ff -2.31%, #60efff 97.12%);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  &.active {
    opacity: 1;
  }
  &.yellow {
    background: linear-gradient(125.06deg, #f5b61e -2.31%, #eda943 97.12%);
  }
  &.pink {
    background: linear-gradient(125.06deg, #b01ef5 -2.31%, #ea43ed 97.12%);
  }
}
.paginationNumber {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

/* .swiper-fade { */
/*   .swiper-slide { */
/*     .panel { */
/*       transform: translateY(100px) !important; */
/*     } */
/*   } */
/*   .swiper-slide-visible { */
/*     .panel { */
/*       transform: translateY(0) !important; */
/*     } */
/*   } */
/* } */
