.container {
  position: relative;
  /* overflow-y: auto; */
  /* overscroll-behavior-y: contain; */
  /* scroll-snap-type: y mandatory; */
  height: 100vh;
  width: 100%;
}
.mainSections {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  .scroll {
    position: -webkit-sticky;
    position: fixed;
    top: 90px;
    right: 67px;
    height: 80vh;
    z-index: 100;
    &.mobileScroll {
      top: 0px;
      right: 0px;
      height: 100vh;
      z-index: 100000;
    }
  }
}

.mobile {
  h1 {
    font-size: 25px !important;
    text-align: center;
  }
  h2 {
    font-size: 20px !important;
    line-height: 24px !important;
    text-align: center;
  }
  p {
    font-size: 14px !important;
  }
}
.tablet {
  h1 {
    font-size: 48px !important;
    line-height: 58px !important;
    text-align: center;
  }
  h2 {
    font-size: 36px !important;
    line-height: 43px !important;
    text-align: center !important;
  }
  p {
    font-size: 16px !important;
    text-align: center !important;
  }
}
